.msg {
    margin-bottom: 15px;
}

.msgList {
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.6;
}

.msgBox {
    background: white;
    list-style: none;
    padding: 5px 10px;
    display: inline-block;
    max-width: 45%;
    border-radius: 5px;
}

.msgName {
    font-weight: 500;
}

.msgTimeLog {
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 10px;
}

.msgInput {
    width: 95%;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

.msgSubmit {
    width: 25px;
    height: 25px;
    position: relative;
    left: -25px;
    top: 1.5px;
    background: transparent;
    border: none;
    cursor: pointer;
}