
.loginpage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffeb33;
  }
  
  .loginpage_logo {
    position: relative;
    top: 20%;
    margin: 0 auto;
    display: block;
  }
  
  .loginpage_inputArea {
    position: relative;
    top: 30%;
  }
  
  .loginpage_join {
    position: relative;
    text-align: center;
      margin-top: 15px;
  }
  
  .loginpage_join > a{
    text-decoration: none;
    color: #7f7519;
    font-size: 12px;
    position: relative;
    padding: 10px;
}

.loginpage_msg {
    position: relative;
    display: block;
    margin-top: 150px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #e77663;
}
    

.input {
    height: 40px;
    border: 1px solid #f2f2f2;
    margin: 0;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    width: 60%;
}

.input_login {
    margin: 0 auto;
    display: block;
}
 
.submit {
    margin-top: 10px;
    width: 62%;
    cursor: pointer;
    color: gray;
}

