.input {
    height: 40px;
    border: 1px solid #f2f2f2;
    margin: 0;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    width: 60%;
}

.input_login {
    margin: 0 auto;
    display: block;
}
 
.submit {
    margin-top: 10px;
    width: 62%;
    cursor: pointer;
    color: gray;
}

